#timer_ {
    float:right
}

#high-score_ {
    float:left
}

#started {
    width: 50%;
    margin: 0 auto;
    background-color: aqua;
}

main {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#questions{
    background-color: white;
    /* display: none; */
}

#answers{
    text-align: left;
    width: 50%;
}

button.btAnswers{
    display: block;
    margin: 10px;
    width: 100%;
    text-align: left;
    background-color: #ffb0fe;
    padding: 10px;
    box-shadow: 1px;
    border-radius: 10px;
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
}

button.btAnswers:hover{
    background-color: #ff6bd6;
}

#correct{
    display: none;
}

#wrong{
    display: none;
}

#end-of-questions{
    /* display: none; */
}

ol{
    text-align: left;
}

#buttons{
    text-align: left;

}

#high-scores{
    display: none;
}
li{
    list-style-type: none;
}
